/* .container.row{ width: 100%;} */
.thead{background-color: black;position: fixed;position: fixed;
	z-index:9999;}

    div{width:100%;text-size-adjust: 2px;}
body{background-color: rgb(165, 139, 159);}

h1{background-color: rgb(65, 3, 73); color: white;}

.img{background-image: url('coro.jpg');color:white;}
#global{color: white;}
#nigeria{color: white;}
#examples{width:100% ;}